<h1>Adicionar Jogo</h1>

<form action="Save" method="POST" style="margin-top: 100px;">
  <div class="form-group">
    <label for="NomeJogo">Jogo</label>
    <input type="text" class="form-control" id="NomeJogo" name="NomeJogo" required>
  </div>
  <button type="submit" class="btn btn-primary">Finalizar</button> | <a href="/Jogo/Index" class="btn btn-dark">Voltar</a>
</form>