<h1>Adicionar Amigo</h1>

<form action="Save" method="POST" style="margin-top: 100px;">
  <div class="form-group">
    <label for="Nome">Amigo</label>
    <input type="text" class="form-control" id="Nome" name="Nome" required>
  </div>
  <button type="submit" class="btn btn-primary">Finalizar</button> | <a href="/Amigo/Index" class="btn btn-dark">Voltar</a>
</form>