@using DesafioDotNet.Models.dto

@model JogoEmprestadoDto

<h1>Adicionar Emprestimo</h1>

@if (ViewBag.Error != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Atenção!</strong> @ViewBag.Error
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
}


<form action="Save" method="POST" style="margin-top: 50px;">
  @if (ViewBag.IdJogoEmprestado != null)
  {
      <input type="hidden" id="IdJogoEmprestado" name="IdJogoEmprestado" value="@ViewBag.IdJogoEmprestado" />
  }
  <div class="form-group">
    <label for="IdJogoId">Jogo</label>
    @Html.DropDownList("IdJogoId", 
                    ViewBag.Jogos,
                    "Selecione um Jogo",
                    new { @class = "form-control" })
    
  </div>
  <div class="form-group">
    <label for="IdAmigoId">Amigo</label>
    @Html.DropDownList("IdAmigoId", 
                    ViewBag.Amigos,
                    "Selecione um Amigo",
                    new { @class = "form-control" })
  </div>
  <button type="submit" class="btn btn-primary">Finalizar</button> | <a href="/JogoEmprestado/Index" class="btn btn-dark">Voltar</a>
</form>