@model Jogo
<h1>Alterar Dados Do Jogo</h1>

<form action="Edit" method="POST" style="margin-top: 100px;">
  <div class="form-group">
    <input type="hidden" id="Id" name="Id" value="@Model.Id"/>
    <label for="NomeJogo">Jogo</label>
    <input type="text" class="form-control" id="NomeJogo" name="NomeJogo" value="@Model.NomeJogo" required>
  </div>
  <button type="submit" class="btn btn-primary">Alterar</button> | <a href="/Amigo/Index" class="btn btn-dark">Voltar</a>
</form>